{% extends 'home/base.html' %} {%load static%} {%block content%}

<style>
    .bg {
    /* The image used */
    background-image: url("{% static '/assets/solid-grey.jpg' %}");
    /* Full height */
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    opacity:0.30
  }

 .disabled,.disabled:hover {
   pointer-events: none;
   color: #e1e1e1;
   /*background-color:#2b6777;*/
  }
 .hide_scroller {
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none;  /* Firefox */
  } 
  .hide_scroller::-webkit-scrollbar { 
      display: none;  /* Safari and Chrome */
  }

  .y_scroll{
    overflow-y: scroll;
    height:10rem;
  }

  .explorer__upload_file_outer_div{
    width: 100%;
  }
  #inputGroupFile02{
    width: 100%;
    background-color: #4b4343;
    border: #4b4343;
    padding: 10px;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0.5rem
  }
  #explorer__upload_file_submit_div{
    width: 100%;
    background-color: #c8d8e4;
    border: #c8d8e4;
    padding: 10px;
    color: black;
    font-weight: 400;
    line-height: 1.5;
    cursor: pointer;
    margin-bottom: 0.5rem
  }

  #explorer__download_sample__file{
    text-align: left;
    width: 100%;
    padding: 0 10px;
    color: #fff;
    font-weight: 200;
    line-height: 1;
    cursor: pointer;
    margin-bottom: 0.5rem
  }
  .sidebar{
    background-color:#9A3334;
    z-index:1020;
  }
  img{
        width:4.8rem;
        height:5rem;
   }
   .button--loading .button__text {
    visibility: hidden;
    opacity: 0;
   }
  </style>



<div id='container'class="container-fluid">
  <div class="bg"></div>
  <div class="row">
    <nav id="sidebarMenu" class="col-md-2 col-lg-2 d-md-block sidebar collapse hide_scroller"
      style="width: 15rem">
      <div class="position-sticky pt-3 hide_scroller" style="max-height:44rem;overflow-y:auto">
        <a class="explorer-nav-link xm-logo"><img src="{% static '/assets/Redboxlogo-black.png' %}" alt="CROSSMEDIA"></a>

        <form action="{%url 'home'%}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="explorer__upload_file_outer_div">
            <div class="mb-2">
              <input type="file" id="inputGroupFile02" name="excel_file" style ="display:none"accept=".csv">
              <label for="inputGroupFile02" class="btn" 
                 data-toggle="tooltip" data-placement="right" title="only .csv files allowed"  
                style="color:white; background-color:#fff;border-color:#fff;width:100%;color:black">Select file  <i class="fa fa-refresh fa-spin icon-spin"style="display:none;color:black"></i></label>
             </div>
              <p id = "filename_to_put" style = "color:white" hidden = "true"></p>
            <input type="submit" class="btn" style = "display:none"id="explorer__upload_file_submit_div" value="Upload" name="Upload" onclick="fn_explorer_upload_file_submit()">
            <button type="button" class="btn btn-link" id="explorer__download_sample__file" onclick="explorer_download_sample_csv_fn()">
              <i class="fa fa-download" aria-hidden="true" style="color:#fff; margin-right: 10px;"></i>
               Sample Upload File
            </button>  
          </div> 
          {% comment %} <div class="input-group" style=" margin-top: 10px;">
            <input type="file" class="explorer-form-control" id="inputGroupFile02" name="excel_file">
            <input type="submit" value="Upload" name="Upload"
              style="padding:5px 5px; cursor: pointer;">
          </div>
         <a style="color: white;" href={{sample_file}} download="sample_upload.csv">Sample File</a>
          <p style="color: white;" onclick="explorer_download_sample_csv_fn()">Sample File</p> {% endcomment %}
          <hr>
          <div class="form-check" style="margin-bottom:-0.5rem">
            <input class="form-check-input" type="checkbox" value="" id="exp__is_weekly_selected_input"
              onclick="fn_exp_is_weekly_input(this)">
            <label class="form-check-label" style="color: white;" for="exp__is_weekly_selected_input">
              Weekly Data Granularity
            </label>
          </div>
          <div class="form-check" style="margin-bottom:-0.5rem;margin-top:0.5rem">
            <input class="form-check-input" type="checkbox" value="" id="exp__convert_to_weekly_data"
              onclick="fn_exp_convert_to_weekly_data(this)">
            <label class="form-check-label" style="color: white;" for="exp__convert_to_weekly_data">
              Aggregate to weekly data
            </label>
          </div>
          <br>
          <br>
          <div class="dropdown" style="margin-bottom: 10px; width: 100%;">
            <select name="dateSelector" class="btn dropdown-toggle explorer-sidebar-dropdown"
              onchange="dateCheck(this.value)" id="date_value">
              <option value="" label="Date Selector"></option>
              {% for row in selector %}
              <option value="{{row}}">{{ row }}</option>
              {% endfor %}
            </select>
          </div>

          <p class="date_error" style="color: #fff; display: none;"></p>

          <div class="dropdown" style="margin-bottom: 10px; width: 100%;">
              <div class="selectBox " onclick="showCheckboxes()">
                <select class="btn btn-secondary explorer-sidebar-dropdown .hide_scroller" id="dimension_value">
                  <option value="hi">Dimension Selector</option>
                </select>
                <div class="overSelect "></div>
              </div>

              <div id="checkBoxes" class="y_scroll hide_scroller">
                {% for row in selector %}
                <label>
                  <input class="checkbox_checked" type="checkbox" value="{{row}}">{{row}}
                </label>
                {% endfor %}

              </div>
          </div>


          <div id="leftpanelDimensionValueSelector"
            style="display:none; flex-direction:row; align-items:center; justify-content: center;">
            <p>dimension value selector</p>
          </div>

          <p class="dimension_error" style="color: #fff; display: none;"></p>


          <div class="dropdown" style="margin-bottom: 10px; width: 100%;">
            <select name="spentSelector" class="btn dropdown-toggle explorer-sidebar-dropdown"
              onchange="spentCheck(this.value)" id="spent_value">
              <option value="0">Investment Selector</option>
              {% for row in selector %}
              <option value="{{row}}">{{ row }}</option>
              {% endfor %}
            </select>
          </div>
          <p class="spent_error" style="color: #fff; display: none;"></p>


          <div class="dropdown" style="margin-bottom: 10px; width: 100%;">
            <select name="targetSelector" class="btn dropdown-toggle explorer-sidebar-dropdown"
              onchange="targetCheck(this.value)" id="target_value">
              <option value="0"> Target Selector</option>
              {% for row in selector %}
              <option value="{{row}}">{{ row }}</option>
              {% endfor %}
            </select>
          </div>
          <p class="target_error" style="color: #fff; display: none;"></p>

          <div>
            <div class="form-check" style="margin-bottom:10px;">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                onclick="selectorDisplay()">
              <label class="form-check-label" style="color: white;" for="flexCheckDefault">
                Use Impressions
              </label>
            </div>
          </div>

          <div class="dropdown" style="margin-bottom: 10px; width: 100%;  display: none;" id="cpm-Selector">
            <select name="cpmSelector" class="btn dropdown-toggle explorer-sidebar-dropdown "
              onchange="cpmCheck(this.value)" id="cpm_value">
              <option value="0"> CPM Selector</option>
              {% for row in selector %}
              <option value="{{row}}">{{ row }}</option>
              {% endfor %}
            </select>
          </div>
          <p class="cpm_error" style="color: #fff; display: none;"></p>

          <div style="margin: auto">
            <button type="button" name="Submit" class="btn explorer-sidebar-submit-btn" id="submit_btn"
              onclick="submit_chart_inputs()">Submit</button>
          </div>
        </form>
      </div>

  </div>
  </nav>

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="display: block; align-items: center;">

    <!-- <nav class="nav-pills flex-column flex-sm-row" style="padding: 30px 80px; display: none; ">
      <a id= "explorer-btn" class="flex-sm-fill text-sm-center explorer-btn active" href="#" style="margin-right: 5px;"
      data-toggle="tooltip" data-placement="left" title="Step 1">Explore</a>
      <a id ="predictor-btn"class="flex-sm-fill text-sm-center explorer-btn" href="{% url 'predictor_home_page' %}"
        style="margin-right: 5px;"  data-toggle="tooltip" data-placement="left" title="Step 2">Predict</a>
      <a id = "optimizer-btn" class="flex-sm-fill text-sm-center explorer-btn" href="{% url 'optimizer_home_page' %}"
        style = "margin-right:5px" data-toggle="tooltip" data-placement="left" title="Step 3">Optimize</a>
      <a id = "goalseek-btn" class="flex-sm-fill text-sm-center explorer-btn" href="{% url 'optimizer_home_page' %}"
        data-toggle="tooltip" data-placement="left"style="pointer-events: none" title="Step 3">Goal Seek</a>
    </nav> -->
  
 
    <div id="right_div" style="display: none;">

      <div class="table-responsive explorer-chart" 
        style="background-color: #fff; padding: 20px; margin-bottom: 10px;margin-top:20px">
        <div style="display: flex; justify-content: space-between;">
          <div class="explorer-daterange btn">
            <input class="explorer-date-input btn" type="text" name="daterange" id="date" value="02/01/21 - 02/28/21" />
          </div>

          <div style="display: flex; ">
            <div class="piemultiselect">
              <div class = "pieselectBox" id = "trendchartmultiselectBox" onclick="showPieChartCheckboxes('trendchart')">
                <select class="btn dropdown-toggle explorer-sidebar-dropdown" style="pointer-events:none">
                  <option id="trendChartSelectorValue">Dimension Value Selector</option>
                </select>
                <!-- <div class="btn btn-secondary dropdown-toggle explorer-sidebar-dropdown" id="pie_selected_value" >Dimension Value Selector</div> -->
                <div class="trendChartoverSelect"></div>
              </div>
              <div class ="hide_scroller" id="trendChartCheckboxes"  style="overflow: scroll; height: 15rem;background-color: #fff;color:black" >

              </div>
            </div>
          </div>
        </div>

        <div id="linechartcontainer"
          style="display: flex; align-items: center; justify-content: center; flex-direction: column; width:100%;margin: auto;">
          <canvas id="linechart"></canvas>
        </div>

      </div>

     {% comment %} pie chart {% endcomment %}
      <div class="explorer-chart"
        style=" background-color: #fff; padding: 20px; margin-bottom: 10px; display: flex; flex-direction: column; height: 40rem;">
        <div style="display: flex; justify-content: space-between; ">

          <div class="explorer-daterange btn">
            <input class="explorer-date-input btn" type="text" name="daterange2" id="piechartdate"
              value="04/01/21 - 06/02/21" />
          </div>

          <div style="display: flex; ">
            <div class="piemultiselect">
              <div class="pieselectBox" id="pieselectBox" onclick="showPieChartCheckboxes()">
                <select class="btn dropdown-toggle explorer-sidebar-dropdown">
                  <option id="pie_selected_value">Dimension Value Selector</option>
                </select>
                <!-- <div class="btn btn-secondary dropdown-toggle explorer-sidebar-dropdown" id="pie_selected_value" >Dimension Value Selector</div> -->
                <div class="pieoverSelect"></div>
              </div>
              <div class ="hide_scroller" id="pieChartCheckboxes"  style="overflow: scroll; height: 15rem;background-color: #fff;color:black" >

              </div>
            </div>
          </div>
        </div>
        <br>
          <div id="piechartcontainer" style="display: flex; align-items: center; justify-content: center; flex-direction: column; width:100%;margin-top: 40px;" >
            <canvas id="pieChart"></canvas>
          </div>
      </div>
    </div>
  </main>
</div>
  <div id = 'spinner-optimizer'class="spinner-border" 
  style ="display:none;left:54%;top:40%;width:5rem;height:5rem;position:fixed">
  </div>
</div>

<!-----------------------dimension selector multi select and validation check (left panel)---------------------->
<script>
  
  let global_explorer_download_sample_csv_json = null
  let select_dimensionValueSelector = document.getElementById("dimensionValueSelector")
  // showCheckboxesbar
  var show = true;
  let global_chart_colors = ["#45B8AC", "#EFC050", "#5B5EA6", "#9B2335", "#DFCFBE", "#98B4D4", "#34568B", "#6B5B95","#88B04B","#F7CAC9","#92A8D1", "#955251", "#B565A7", "#009B77", "#DD4124", "#D65076"];
  // function to make the click on upload submit button programatically 
  $('#inputGroupFile02').on('change', function(){
    $('#explorer__upload_file_submit_div').click()
    $('.icon-spin').css('display','block');
   })
  $(window).on('load',function(){
    // setting this by default
    disable_buttons()
    cpm_checkbox = window.localStorage.getItem('cpm_checkbox')
    if( cpm_checkbox =='true'){
      window.localStorage.setItem('cpm_checkbox',true)
      $('#flexCheckDefault').prop('checked',true);
      document.getElementById("cpm-Selector").style.display = "block";
      cpm_selector = window.localStorage.getItem('cpm_selector')
      if(cpm_selector != '' && cpm_selector != 'undefined' && cpm_selector != null){
        $('#cpm_value').val(cpm_selector);
      }
    }
    date_selector = window.localStorage.getItem('date_selector');
    if(date_selector != '' && date_selector !='undefined' && date_selector !=null){
      $('#date_value').val(date_selector)
      dateCheck(date_selector)
    }
   investment_selector = window.localStorage.getItem('investment_selector')
   if(investment_selector != '' && investment_selector !='undefined' && investment_selector != null){
    $('#spent_value').val(investment_selector)
    spentCheck(investment_selector)
    }
    target_selector = window.localStorage.getItem('target_selector')
    if(target_selector != '' && target_selector !='undefined' && target_selector != null){
    $('#target_value').val(target_selector)
    targetCheck(target_selector)
    }
    dimension_selector = window.localStorage.getItem('dimension_selector')
    if(dimension_selector){
        dimension_selector = dimension_selector.split(",")
     
      $('.checkbox_checked').each(function(i,obj){
          if(dimension_selector.includes(obj.value)){
            obj.checked = true
          }
        })
      }
    var file = window.localStorage.getItem('file')
    if(file)
      $('#filename_to_put').attr('hidden',false).text("Uploaded File : " + file )
    // run on load submit charts 
    if(file && date_selector != '' && date_selector !='undefined' && date_selector !=null)
      submit_chart_inputs();
  })
  function showCheckboxes() {
    var checkboxes =
      document.getElementById("checkBoxes");

    if (show) {
      checkboxes.style.display = "block";
      show = false;
    } else {
      checkboxes.style.display = "none";
      show = true;
    }
  }

  $(document).ready(function () {
    $('.checkbox_checked').click(function () {
      let txt = ""
      let array_txt = []
      $('.checkbox_checked:checked').each(function () {
        txt += $(this).val() + ','
        array_txt.length = 0
        // console.log(txt, "this is string")
        array_txt.push(txt.split(','))
      })

      $('#leftpanelDimensionValueSelector').html("");
      document.getElementById('leftpanelDimensionValueSelector').style.display = "block"
      let dimensionvalueselector = array_txt
      if (dimensionvalueselector > 0) {

        $('#leftpanelDimensionValueSelector').html(dimensionvalueselector);
      } else {
        $('#leftpanelDimensionValueSelector').html("");
      }

      console.log(dimensionvalueselector, "this is dimension value selectpr")
      window.localStorage.setItem('dimension_selector',dimensionvalueselector)
      $.ajax({
        url: 'ajax/dimension_check/',
        data: {
          'dimension_check[]': dimensionvalueselector,
        },
        success: function (data) {
          console.log(data.message);
          $('.dimension_error').css("display", "none");
        },
        error: function (data) {
          console.log(data.responseJSON.error);

          $('.dimension_error').css("display", "block");
          $('.dimension_error').html(data.responseJSON.error); // add error to the dom

        }
      });
    })
  })

  {% comment %} Start : Check weekly or Daily check box  {% endcomment %}
  function fn_exp_is_weekly_input(this_value){
    // displaying the spinner
    $('#container').css('opacity',0.5);
    $('#container').css('pointer-events','none');
    $('#container').css('z-index',1);
    $("body").css("background-color", "#cecece");
    $('#spinner-optimizer').css('display','block');
    is_weekly_selected = this_value.checked ? 1 : 0;
    // disabling the aggreagation functionality upon user selection for weekly data
    if(is_weekly_selected == 1)
      document.getElementById('exp__convert_to_weekly_data').disabled = true 
    else 
      document.getElementById('exp__convert_to_weekly_data').disabled = false
    global_is_weekly_selected = is_weekly_selected;
    console.log("fn_exp_is_weekly_input", is_weekly_selected)
    $.ajax({
      url: 'ajax/is_weekly_selected/',
      data: {
        'is_weekly_selected': is_weekly_selected,
      },
      success: function (data) {
        $('#container').css('opacity',1);
        $("body").css("background-color", "#fff");
        $('#container').css('pointer-events','auto');
        $('#spinner-optimizer').css('display','none');
        console.log(`Success in 'ajax/is_weekly_selected/' : ${data.message}`);
      },
      error: function (data) {
        $('#container').css('opacity',1);
        $("body").css("background-color", "#fff");
        $('#container').css('pointer-events','auto');
        $('#spinner-optimizer').css('display','none');
        console.log(`Success in 'ajax/is_weekly_selected/' : ${data.responseJSON.error}`);
      }
    });
  }
  {% comment %} End : Check weekly or Daily check box  {% endcomment %}
  // function to convert daily data to weekly data
  function fn_exp_convert_to_weekly_data(this_value){
       // displaying the spinner
       $('#container').css('opacity',0.5);
       $('#container').css('pointer-events','none');
       $('#container').css('z-index',1);
       $("body").css("background-color", "#cecece");
       $('#spinner-optimizer').css('display','block');
    convert_to_weekly_data = this_value.checked ? 1 : 0;
    // disabling or enabling functionality weekly selection data on basis of aggregation selected by user 
    if(convert_to_weekly_data == 1)
      document.getElementById('exp__is_weekly_selected_input').disabled = true
    else
      document.getElementById('exp__is_weekly_selected_input').disabled = false
    global_convert_to_weekly_data = convert_to_weekly_data;
    console.log("fn_exp_convert_to_weekly_data", convert_to_weekly_data)
    $.ajax({
      url: 'ajax/is_convert_to_weekly_data/',
      data: {
        'convert_to_weekly_data': convert_to_weekly_data,
      },
      success: function (data) {
        $('#container').css('opacity',1);
        $("body").css("background-color", "#fff");
        $('#container').css('pointer-events','auto');
        $('#spinner-optimizer').css('display','none');
        console.log(`Success in 'ajax/is_convert_to_weekly_data/' : ${data.message}`);
      },
      error: function (data) {
        console.log(`Success in 'ajax/is_convert_to_weekly_data/' : ${data.responseJSON.error}`);
      }
    });
  }
  

  {% comment %}Start: Upload file onclick  {% endcomment %}
  function fn_explorer_upload_file_submit(){
    $( "#explorer__upload_file_submit_div" ).val("Uploading the file...")
    let filename = document.getElementById('inputGroupFile02').value;
    let file = filename.split("\\").slice(-1);
    window.localStorage.setItem('file',file)
  }
  {% comment %}End:  Upload file onclick  {% endcomment %}

    {% comment %} Download Sample CSV  {% endcomment %}
    function explorer_download_sample_csv_fn(){
      console.log("explorer_download_sample_csv_fn");
      $("#explorer__download_sample__file").text("Downloading.....").attr('disabled', true)
      
      $.ajax({
        url:'/ajax/download_sample_csv/',
        success: function(data){
          console.log("From success", data)
          $( "#explorer__download_sample__file" ).text("Sample Upload File").attr('disabled', false)
          global_explorer_download_sample_csv_json = data.json_dumped_sample_download_file
          optimizer_download_csv_data = JSON.parse(global_explorer_download_sample_csv_json)
          //console.log("optimizer_download_csv_data", optimizer_download_csv_data)
      
          let element = document.createElement('a');
          element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(optimizer_download_csv_data));
          element.setAttribute('download', 'EXPLORER_DOWNLOAD_SAMPLE_CSV.csv');
          element.style.display = 'none';
          if (typeof element.download != "undefined") {
              document.body.appendChild(element);
              element.click();
              document.body.removeChild(element);
          }
          else {
              //browser does not support - alert the user
              alert('This functionality is not supported by the current browser, recommend trying with Google Chrome instead.');
          }

        },
        error: function (error_object) {
          console.log("From errors", error_object);
          alert("Error in fetching sample data")
        }
      })

     
  
    }

</script>


{% comment %} pie chart {% endcomment %}
<script>
  function pie_chart_on_change(data) {
    console.log('pie chart data printed on change success')


    const date = [];
    const spend = [];
    const target = [];
    const dimension = [];
    const cpa = [];

    var pie_json_aggdata_group = data.pie_chart_data_on_change
    console.log("pie chart data")
    console.log(pie_json_aggdata_group)
    console.log("pie chart data end")


    pie_json_aggdata_group.forEach(function (item, index) {
      date.push(item.date)
      spend.push(Math.round(item.spend))
      target.push(Math.round(item.target))
      dimension.push(item.dimension)
      cpa.push(item.CPA)
    })

    // destroying old chart and creating new one
    document.getElementById("piechartcontainer").innerHTML = '&nbsp'
    document.getElementById("piechartcontainer").innerHTML = '<canvas id="pieChart"></canvas>';
    const pie_chart = document.getElementById('pieChart').getContext('2d');

    const myChart = new Chart(pie_chart, {
      type: 'bar',
      data: {
        labels: dimension,
        datasets: [
        {
          label: window.localStorage.getItem('target_selector'),
          data: target,
          yAxisID: 'y',
          backgroundColor: '#9A3334',

        },
        {
          label: 'Investment',
          data: spend,
          yAxisID: 'y1',
          backgroundColor: '#a7a7a6',
        }],
      },
      options: {
        responsive: true,
        interaction: {
          mode: 'index',
          intersect: false,
        },
        stacked: false,
        plugins: {
          title: {
            display: true,
            text: 'Total Investment and Conversions'
          }
        },
        scales: {
          x: {
            display: true,
            title: {
              display: true,
              text: 'Dimension',
            },
            ticks: {
              // Shorten the label If it has more than 10 characters  
              callback: function(value, index) {  
                return this.getLabelForValue(value).length > 10 ?  
                        this.getLabelForValue(value).substr(0,10) : this.getLabelForValue(value) ;
              }
            }
          },
          y: {
            type: 'linear',
            display: true,
            position: 'left',
            title: {
              display: true,
              text: window.localStorage.getItem('target_selector')
            },
            ticks: {
              // Include a dollar sign in the ticks
              callback: function (value, index, ticks) {
                return value;
              }
            }
          },
          y1: {
            type: 'linear',
            display: true,
            position: 'right',
            title: {
              display: true,
              text: 'Investment'
            },
            ticks: {
              // Add commas in currency with dollars
              callback: function (value, index, ticks) {
                return '$' +  value.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
              }
            },
            // grid line settings
            grid: {
              drawOnChartArea: true, // only want the grid lines for one axis to show up
            },
          },
        },
      },
    })

    // console.log("second pie chart end")

  }

</script>
{% comment %} dropdown {% endcomment %}
<script>
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }
  window.onclick = function (event) {
    if (!event.target.matches('.explorer-sidebar-dropdown')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
</script>

{% comment %} for displying CPM selector {% endcomment %}
<script>
  function selectorDisplay() {
    console.log("entered script")
    var checkBox = document.getElementById("flexCheckDefault")
    var selector = document.getElementById("cpm-Selector")
    window.localStorage.setItem('cpm_checkbox',checkBox.checked)
    if (checkBox.checked == true) {
      selector.style.display = "block";
    } else {
      selector.style.display = "none";
    }
  }
</script>

<!-- ajax on submit default dimension value selector for line chart -->
<script>

  function submit_chart_inputs() {
    // start progress
    console.log("inputs submitted");
    $('#container').css('opacity',0.5);
    $('#container').css('pointer-events','none');
    $('#container').css('z-index',1);
    $("body").css("background-color", "#cecece");
    $('#spinner-optimizer').css('display','block');
  
    //var startDate = $('#date').data('daterangepicker').startDate.format('MM-DD-YY');
    //var endDate = $('#date').data('daterangepicker').endDate.format('MM-DD-YY');
    $.ajax({
      url: 'ajax/chart_filter/',
      data: {
        'type': "submit"
      },
      success: function (data) {
        document.getElementById('right_div').style.display = "block";
        // close
        console.log("this is the selected type");
        $('#container').css('opacity',1);
        $("body").css("background-color", "#fff");
        $('#container').css('pointer-events','auto');
        $('#spinner-optimizer').css('display','none');

        let start_date = data.start_date
        let end_date = data.end_date
        // let default_dim = data.default_dim
        let unique_dimension =  data.unique_dimension
        let is_weekly_selected_from_session =  data.is_weekly_selected_from_session
        console.log("start_date", start_date)
        console.log("end_date", end_date)
        //console.log("default_dim", default_dim)
        console.log("unique_dimension", unique_dimension)
        
        // Weekly selction 
        if(is_weekly_selected_from_session == 1){
          console.log("is_weekly_selected_from_session", is_weekly_selected_from_session)
          $("#exp__is_weekly_selected_input").prop('checked', true)
        }

        //change the selected date range of that picker
        $('#date').data('daterangepicker').setStartDate(start_date);
        $('#date').data('daterangepicker').setEndDate(end_date);
        $('#piechartdate').data('daterangepicker').setStartDate(start_date);
        $('#piechartdate').data('daterangepicker').setEndDate(end_date);


        // // pie chart dim vslue selector populate
        let checkboxes1 = document.getElementById("pieChartCheckboxes");
        let checkboxes2 = document.getElementById('trendChartCheckboxes')
        checkboxes2.innerHTML = ""
        checkboxes1.innerHTML = ""
        let pie_dim_value = unique_dimension
        let chart_filter_options = ""
        let trendchart_filter_options = ""
        trendchart_filter_options += "<label for='" + "Select All" + "'><input id = '" + 'trendchart_dim_option' + "' class='trendchart_checkbox_checked_selectAll' type='checkbox' onclick = 'trendchart_select_deselect(this)' value='" + "Select All"+ "'checked />" + "Select All" + "</label>"
        chart_filter_options += "<label for='" + "Select All" + "'><input id = '" + 'pie_dim_option' + "' class='pie_checkbox_checked_selectAll' type='checkbox' onclick = 'select_deselect(this)' value='" + "Select All"+ "'checked />" + "Select All" + "</label>"
        pie_dim_value.forEach(function (item, index) {
          chart_filter_options += "<label for='" + String(item) + "'><input id = '" + 'pie_dim_option' + index + "' class='pie_checkbox_checked' type='checkbox' value='" + String(item) + "'checked />" + String(item) + "</label>"
          trendchart_filter_options += "<label for='" + String(item) + "'><input id = '" + 'trendchart_dim_option' + index + "' class='trendchart_checkbox_checked' type='checkbox' value='" + String(item) + "'checked />" + String(item) + "</label>"
          state_pie_dim_value.push(item)
          trendchart_state_pie_dim_value.push(item)
        })
        all_options_state_pie_dim_value = state_pie_dim_value.slice(0);
        all_options_trendchart_state_pie_dim_value = trendchart_state_pie_dim_value.slice(0)
        checkboxes1.innerHTML = chart_filter_options
        checkboxes2.innerHTML = trendchart_filter_options
        pie_chart_view_render()
        // console.log(chart_filter_options)


        pie_chart_on_change(data) //pie chart
        chart_on_change(data) //line chart
        // changing status of predictor and optimizer buttons
        
        let buttons_to_disable = JSON.parse(window.localStorage.getItem('buttons_to_disable'));
   
        if(buttons_to_disable['predictor'] == true){
          $('#predictor-btn').fadeTo("fast", 1).removeClass('disabled');
          buttons_to_disable['predictor'] = false;
          window.localStorage.setItem('buttons_to_disable',JSON.stringify(buttons_to_disable))
        }
        if(Boolean(buttons_to_disable['optimizer']) == true)
          $('#optimizer-btn').attr('disabled','disabled').addClass('disabled'); 
        if(Boolean(buttons_to_disable['goalseek']) == true)
          $('#goalseek-btn').attr('disabled','disabled').addClass('disabled'); 
      },
      error: function (error_object) {
        console.log("From errors submit_chart_inputs", error_object);
        $('#container').css('opacity',1);
        $("body").css("background-color", "#fff");
        $('#container').css('pointer-events','auto');
        $('#spinner-optimizer').css('display','none');
        alert("Error in sumission, please verify the inputs")
        document.getElementById('right_div').style.display = "none";

      }

    });
  }
</script>

<!---------------------------- pie chart on change -------------------------->
<script>
  // global variables
  let pie_txt = ""
  let expanded = false;
  let trendchart_state_pie_dim_value = []
  let state_pie_dim_value = []
  let all_options_state_pie_dim_value = []
  let all_options_trendchart_state_pie_dim_value = []
  // global variables
  // trend chart check boxes 
  function showPieChartCheckboxes(chart_type = 'pie') {
    console.log("pie chart dropdown is working fine")
    // console.log(chart_filter_options)
    console.log("show pie chart dropdown")
    let checkboxex1
    if(chart_type == 'pie')
      checkboxes1 = document.getElementById("pieChartCheckboxes");
    else 
      checkboxes1 = document.getElementById("trendChartCheckboxes");
    if (!expanded) {
      console.log("pie chart if condition ")
      checkboxes1.style.display = "block";
      expanded = true;

    } else {
      console.log("pie chart else condition ")
      checkboxes1.style.display = "none";
      expanded = false;
    }

  }
  function trendchart_state_update(){
    let trendchart_value = $(this).val()
    let trendchartarrayIndex = trendchart_state_pie_dim_value.findIndex(element => trendchart_value === element)

    if (trendchartarrayIndex > -1) {
      trendchart_state_pie_dim_value.splice(trendchartarrayIndex, 1)
    } else {
      if(trendchart_value == 'Select All' &&  this.checked == false)
        trendchart_state_pie_dim_value = [];
      else if(trendchart_value == 'Select All' &&  this.checked == true)
          trendchart_state_pie_dim_value = all_options_state_pie_dim_value.slice(0);
      else  
        trendchart_state_pie_dim_value.push(trendchart_value)
    }
    dimension_value_selector()
  }

  function pie_chart_state_update(){
    let pie_value = $(this).val()
    let piearrayIndex = state_pie_dim_value.findIndex(element => pie_value === element)

    if (piearrayIndex > -1) {
      state_pie_dim_value.splice(piearrayIndex, 1)
    } else {
      if(pie_value == 'Select All' &&  this.checked == false)
        state_pie_dim_value = [];
      else if(pie_value == 'Select All' &&  this.checked == true)
          state_pie_dim_value = all_options_state_pie_dim_value.slice(0);
      else  
        state_pie_dim_value.push(pie_value)
    }
    pie_chart_view_render()
  }

  function pie_chart_view_render(){
    if (state_pie_dim_value.length > 0) {
      pie_array_txt = state_pie_dim_value.join(', ')
    }
    else
    pie_array_txt = "";
    console.log("pie_array_txt", pie_array_txt)
    let piedimensionvalueselector = pie_array_txt
    console.log("this is dimension value selectpr on submit", piedimensionvalueselector)
    var startDate = $('#piechartdate').data('daterangepicker').startDate.format('MM-DD-YY');
    var endDate = $('#piechartdate').data('daterangepicker').endDate.format('MM-DD-YY');
    console.log("these are pie chart date range", startDate, endDate)
    $.ajax({
      url: 'ajax/chart_filter/',
      data: {
        'pie_dimension_check[]': piedimensionvalueselector,
        'type': 'onchange',
        'start_date': startDate,
        'end_date': endDate,
        'chart_type': 'piechart'
      },
      success: function (data) {
        console.log("pie chart dimension value selecctor is successfull");
        pie_chart_on_change(data)

      },
      error: function (error_object) {
        console.log("From errors 'ajax/chart_filter/'", error_object);

      }
    });
  }
  $('#pieChartCheckboxes').on('click', 'input[type=checkbox]', pie_chart_state_update)
  $('#trendChartCheckboxes').on('click', 'input[type=checkbox]', trendchart_state_update)
</script>

<!-------------------------Date Range type on change / on apply for all the charts------------>
<script type="text/javascript">
  // date range for line chart
  $('input[name="daterange"]').daterangepicker();

  $('input[name="daterange"]').on("apply.daterangepicker", function (ev, picker) {
    var startDate = $('#date').data('daterangepicker').startDate.format('MM-DD-YY');
    var endDate = $('#date').data('daterangepicker').endDate.format('MM-DD-YY');

    console.log(startDate, "this is changed daterange start date")
    console.log(endDate, "this is chenged daterange end date")
    var trendchart_dimensions = trendchart_state_pie_dim_value.toString()

    $.ajax({
      url: 'ajax/chart_filter/',
      data: {
        'dimension_value_selector': trendchart_dimensions,
        'start_date': startDate,
        'end_date': endDate,
        'type': "onchange",
        'chart_type': 'linechart'
      },
      success: function (data) {
        chart_on_change(data)
      }
    });
  });

  // date range for pie chart
  $('input[name="daterange2"]').daterangepicker();

  $('input[name="daterange2"]').on("apply.daterangepicker", function (ev, picker) {
    var startDate = $('#piechartdate').data('daterangepicker').startDate.format('MM-DD-YY');
    var endDate = $('#piechartdate').data('daterangepicker').endDate.format('MM-DD-YY');

    console.log(startDate, "this is changed daterange start date for pie chart")
    console.log(endDate, "this is chenged daterange end date pie chart")

    // let piedimensionvalueselector = []
    // piedimensionvalueselector = pie_array_txt
   
    let pie_array_text = state_pie_dim_value.join(', ')

    $.ajax({
      url: 'ajax/chart_filter/',
      data: {
        'pie_dimension_check[]': pie_array_text,
        'start_date': startDate,
        'end_date': endDate,
        'type': "onchange",
        'chart_type': "piechart"
      },
      success: function (data) {
        console.log("this is filtered data on pie change")
        pie_chart_on_change(data) //pie chart
      },
      error: function (data) {
        console.log(`Error in Pie Chart : ${data}`);

      }
    });
  });

</script>


{% comment %} date validation check {% endcomment %}
<script>
  function dateCheck(value) {
    console.log(value)
    window.localStorage.setItem('date_selector',value);
    $.ajax({
      url: 'ajax/date_check/',
      data: {
        'date_check': value,
      },
      success: function (data) {
        console.log(data.message);
        $('.date_error').css("display", "none");
      },
      error: function (data) {
        console.log(data.responseJSON.error);

        $('.date_error').css("display", "block");
        let error = data.responseJSON.error == 'Incorrect Date Format' 
        ? data.responseJSON.error + ' ( expecting YYYY-MM-DD format )' 
        : data.responseJSON.error;
        $('.date_error').html(error); // add error to the dom

      }
    });
  }
</script>

{% comment %} spent validation check {% endcomment %}
<script>
  function spentCheck(value) {
    console.log(value)
    window.localStorage.setItem('investment_selector',value)
    $.ajax({
      url: 'ajax/spent_check/',
      data: {
        'spent_check': value,
      },
      success: function (data) {
        console.log(data.message);
        $('.spent_error').css("display", "none");
      },
      error: function (data) {
        console.log(data.responseJSON.error);

        $('.spent_error').css("display", "block");
        $('.spent_error').html(data.responseJSON.error); // add error to the dom

      }
    });
  }
</script>

 {% comment %} validation check {% endcomment %}
<script>
  function targetCheck(value) {
    console.log(value)
    window.localStorage.setItem('target_selector',value)
    $.ajax({
      url: 'ajax/target_check/',
      data: {
        'target_check': value,
      },
      success: function (data) {
        console.log(data.message);
        $('.target_error').css("display", "none");
      },
      error: function (data) {
        console.log(data.responseJSON.error);

        $('.target_error').css("display", "block");
        $('.target_error').html(data.responseJSON.error); // add error to the dom

      }
    });
  }
</script>

<!-------------------CPM validation check------------------>
<script>
  function cpmCheck(value) {
    console.log(value)
    window.localStorage.setItem('cpm_selector',value)
    $.ajax({
      url: 'ajax/cpm_check/',
      data: {
        'cpm_check': value,
      },
      success: function (data) {
        console.log(data.message);
        $('.cpm_error').css("display", "none");
      },
      error: function (data) {
        // console.log(data.responseJSON.error);

        $('.cpm_error').css("display", "block");
        $('.cpm_error').html(data.responseJSON.error); // add error to the dom

      }
    });
  }
</script>
<!-- ajax line chart dimension value selector on change -->

<script>
  function dimension_value_selector() {
    var trendchart_dimensions = trendchart_state_pie_dim_value.toString()
    var startDate = $('#date').data('daterangepicker').startDate.format('MM-DD-YY');
    var endDate = $('#date').data('daterangepicker').endDate.format('MM-DD-YY');
    console.log(startDate, "this is changed start date")
    console.log(endDate, "this is chenged end date")
    $.ajax({
      url: 'ajax/chart_filter/',
      data: {
        'dimension_value_selector': trendchart_dimensions,
        'start_date': startDate,
        'end_date': endDate,
        'type': "onchange",
        'chart_type': 'linechart'
      },
      success: function (data) {
        console.log("this is filtered data")
        chart_on_change(data)
      }
    });
  }
</script>

<!-- line chart -->
<script>
  function chart_on_change(data) {
    console.log('line chart started')
    // console.log(data.chart_data_on_change)

    const date = [];
    const spend = [];
    const target = [];
    const dimension = [];

    console.log(data)
    console.log("line chart data ")
    var json_aggdata = data.chart_data_on_change
    // console.log(json_aggdata)
    json_aggdata.sort((a,b) => {return (new Date(a['date']) - new Date(b['date']))})
    json_aggdata.forEach(function (item, index) {
      date.push(item.date)
      spend.push(Math.round(item.spend))
      target.push(Math.round(item.target))
      dimension.push(item.dimension)
    })

    // destroying old chart and creating new one
    document.getElementById("linechartcontainer").innerHTML = '&nbsp';
    document.getElementById("linechartcontainer").innerHTML = '<canvas id="linechart"></canvas>';

    console.log("getting line chart element by id")
    let ctx = document.getElementById('linechart').getContext('2d');

    const lineChart = new Chart(ctx, {
      
      data: {
        labels: date,
        datasets: [{
          type: 'line',
          label: window.localStorage.getItem('target_selector'),
          yAxisID: 'y',
          borderColor: '#9A3334',
          // backgroundColor: 'white',
          data: target,
          // fill: false,
        }, {
          type: 'bar',
          label: 'Investment',
          yAxisID: 'y1',
          backgroundColor: '#a7a7a6',
          data: spend,
          // fill: false
        }]
      },

      options: {
        responsive: true,
        interaction: {
          mode: 'index',
          intersect: false,
        },
        stacked: false,
        plugins: {
          title: {
            display: true,
            text: 'Trend Chart'
          }
        },
        scales: {
          x: {
            display: true,
            title: {
              display: true,
              text: 'Date',
            }
          },
          y: {
            type: 'linear',
            display: true,
            position: 'left',
            title: {
              display: true,
              text: window.localStorage.getItem('target_selector')
            },
            ticks: {
              // Include a dollar sign in the ticks
              callback: function (value, index, ticks) {
                return value;
              }
            }
          },
          y1: {
            type: 'linear',
            display: true,
            position: 'right',
            title: {
              display: true,
              text: 'Investment'
            },
            ticks: {
              // Add commas in currency with dollars
              callback: function (value, index, ticks) {
                return '$' + value.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
              }
            },
            // grid line settings
            grid: {
              drawOnChartArea: true, // only want the grid lines for one axis to show up
            },
          },
        },
      },
    });
    console.log("line chart generated")
  }
  function select_deselect(this_value) {
    if(this_value.checked == false)
     $(".pie_checkbox_checked:checked").each(function(index,element){
      element.checked = false;
     })
    else
     $(".pie_checkbox_checked").each(function(index,element){
        element.checked = true;
     })
  }
  // selection / deselection for trend chart
  function trendchart_select_deselect(this_value) {
    if(this_value.checked == false)
     $(".trendchart_checkbox_checked:checked").each(function(index,element){
      element.checked = false;
     })
    else
     $(".trendchart_checkbox_checked").each(function(index,element){
        element.checked = true;
     })
  }
 $(document).ready(function(){
    var buttons_to_disable = 
    {
      explorer : false,
      predictor : true,
      optimizer : true,
      goalseek : true 
    }
    if(!window.localStorage.getItem('buttons_to_disable')){
      window.localStorage.setItem('buttons_to_disable',JSON.stringify(buttons_to_disable))
        if(Boolean(buttons_to_disable['predictor']) == true)
          $('#predictor-btn').attr("disabled","disabled").addClass('disabled');
        
        if(Boolean(buttons_to_disable['optimizer']) == true)
          $('#optimizer-btn').attr("disabled","disabled").addClass('disabled'); 

          if(Boolean(buttons_to_disable['goalseek']) == true)
          $('#goalseek-btn').attr("disabled","disabled").addClass('disabled'); 
     }
  });
  function disable_buttons(){
  
      buttons_to_disable = JSON.parse(window.localStorage.getItem('buttons_to_disable'))
        if(Boolean(buttons_to_disable['predictor']) == true)
          $('#predictor-btn').attr("disabled","disabled").addClass('disabled');
        
        if(Boolean(buttons_to_disable['optimizer']) == true)
          $('#optimizer-btn').attr("disabled","disabled").addClass('disabled');
        
          if(Boolean(buttons_to_disable['goalseek']) == true)
          $('#goalseek-btn').attr("disabled","disabled").addClass('disabled'); 
     
  }
  {% if run_wondow_onload %}
  window.onload = submit_chart_inputs;
  {% endif %}

</script>





{%endblock%}
