[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
black = "*"
flake8 = "*"
django-crispy-forms = "*"
pandas = "*"
numpy = "*"
scipy = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.10"
